.album {
	color: #e71d36;
}

.columns {
	display: flex;
	justify-content: space-evenly;
}

.comfort {
	float: left;
	margin-right: 10px;
	width: 150px;
	height: auto;
}

.comfort2 {
	float: left;
	margin-right: 10px;
	width: 150px;
	height: auto;
}

.container {
	background-color: black;
	color: #e71d36;
}

.container h1 {
	text-align: center;
}

.fright {
	float: left;
	margin-right: 10px;
	width: 150px;
	height: auto;
}

.jumbotron {
	color: #e71d36;
	background-color: black;
}

.jumbotron p {
	text-align: center;
}

.images {
	display: flex;
	justify-content: space-evenly;
}

img {
	width: 150px;
	height: auto;
}

.slic {
	float: left;
	margin-right: 10px;
	width: 150px;
	height: auto;
}
